.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* top: 200px; */
}

.footer img {
  width: 122px;
  padding: 50px 0 25px 0;
}

.footer p {
  color: white;
  font-family: "Montserrat";
  text-align: center;
}

body,
html {
  margin: 0;
}
