@import "mixins.scss";

.page-logement {
  display: flex;
  flex-direction: column;
}

/* Ligne 1 : Titre & Host */
.logement-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 45px 5px;

  @include responsive($breakpoint-mobile) {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 10px 15px 0;
  }
}

/* Ligne 2 : Location, Tags & Rating + Host en responsive */
.logement-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 45px;

  @include responsive($breakpoint-mobile) {
    flex-direction: column;
    margin: 10px 15px;
  }
}

.rating-host-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 25px;

  @include responsive($breakpoint-mobile) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    gap: 10px;
  }
}

.logement {
  position: relative;
}

.logement-title {
  color: $primary;
  @extend %font;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  width: 75%;

  @include responsive($breakpoint-mobile) {
    font-size: 18px;
  }
}

.logement-location {
  @extend %font;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 0;

  @include responsive($breakpoint-mobile) {
    font-size: 14px;
  }
}

.logement-host {
  @extend %font;
  display: flex;
  align-items: center;
  gap: 10px;
  color: $primary;
  font-weight: 500;
  font-size: 18px;
  position: relative;

  @include responsive($breakpoint-mobile) {
    font-size: 12px;
    position: static;
  }

  p {
    margin: 0;
    max-width: 80px;
    position: absolute;
    top: -35px;
    right: 80px;
    text-align: end;

    @include responsive($breakpoint-mobile) {
      position: static;
      max-width: 60px;
    }
  }
}

.logement-host-img {
  @include square(64px);
  border-radius: 35px;
  object-fit: cover;
  position: absolute;
  top: -46px;
  right: 0px;

  @include responsive($breakpoint-mobile) {
    @include square(32px);
    position: static;
  }
}

.logement-tags {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @include responsive($breakpoint-mobile) {
    margin: 10px 0 30px;
    width: 100%;
  }
}

.tag {
  background-color: $primary;
  color: white;
  @extend %font;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  height: 25px;
  min-width: 115px;
  align-content: center;
  padding: 0 5px;
}

.logement-rating {
  display: flex;
  gap: 5px;
  margin-top: 25px;

  .full-star {
    color: $primary;
    font-size: 20px;
  }

  .empty-star {
    color: #e3e3e3;
    font-size: 20px;
  }

  @include responsive($breakpoint-mobile) {
    margin-top: 0;
  }
}

.deroulant {
  @include flex-row($gap: 76px);
  margin: 5px 45px 20px;

  @include responsive($breakpoint-mobile) {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
}

.desktop-only {
  display: flex;

  @include responsive($breakpoint-mobile) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @include responsive($breakpoint-mobile) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.equipments {
  display: flex;
  flex-direction: column;
}
