@import "mixins.scss";

$background-light: #f7f7f7;

@mixin grid-columns($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

.logements {
  @include grid-columns(3, 50px);
  background: $background-light;
  border-radius: 10px;
  margin: 40px 45px;
  padding: 50px;

  a {
    text-decoration: none;
  }
  @media (max-width: 1024px) {
    @include grid-columns(2, 50px);
  }

  @include responsive($breakpoint-mobile) {
    @include grid-columns(1, 30px);
    background: none;
    padding: 0;
    margin: 30px 15px;
  }
}

.fiche-logement {
  position: relative;
  border-radius: 10px;
  height: 260px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
    height: 260px;
    object-fit: cover;
    filter: brightness(70%);
  }

  h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    align-items: center;
    color: white;
    @extend %font;
    z-index: 2;
  }

  &:hover {
    box-shadow: 0px 0px 15px #898989;
    cursor: pointer;
  }
}
