@import "mixins.scss";
@import "Variables.scss";

.carousel-container {
  position: relative;
  margin: 45px;
  height: $carousel-height-desktop;

  @include responsive($breakpoint-mobile) {
    margin: 20px 15px;
    height: $carousel-height-mobile;
  }
}

.custom-slide {
  position: relative;
}

.carousel-slider {
  height: $carousel-height-desktop;
  border-radius: 25px;

  @include responsive($breakpoint-mobile) {
    border-radius: $radius10;
    height: $carousel-height-mobile;
  }
}

.slide img {
  height: $carousel-height-desktop;
  object-fit: cover;

  @include responsive($breakpoint-mobile) {
    height: $carousel-height-mobile;
  }
}

.number {
  @include absolute-position(90%, null, null, 50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: $font-xl;
  padding: 6px 12px;
  border-radius: 8px;
  @extend %font;

  @include responsive($breakpoint-mobile) {
    display: none;
  }
}

.custom-arrow {
  @include absolute-position(50%, null, null, null);
  transform: translateY(-50%);
  z-index: 3;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: $arrow-size;

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }

  @include responsive($breakpoint-mobile) {
    font-size: $arrow-size-mobile;
  }
}
