@import "mixins.scss";

$font-xl: 24px;
$arrow-size: 70px;
$arrow-size-mobile: 30px;

.carousel-container {
  position: relative;
  margin: 45px;
  height: 415px;

  @include responsive($breakpoint-mobile) {
    margin: 20px 15px;
    height: 255px;
  }
}

.custom-slide {
  position: relative;
}

.carousel-slider {
  height: 415px;
  border-radius: 25px;

  @include responsive($breakpoint-mobile) {
    border-radius: 10px;
    height: 255px;
  }
}

.slide img {
  height: 415px;
  object-fit: cover;

  @include responsive($breakpoint-mobile) {
    height: 255px;
  }
}

.number {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: $font-xl;
  padding: 6px 12px;
  border-radius: 8px;
  @extend %font;

  @include responsive($breakpoint-mobile) {
    display: none;
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: $arrow-size;

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }

  @include responsive($breakpoint-mobile) {
    font-size: $arrow-size-mobile;
  }
}
