@import "mixins.scss";

$font-large-desktop: 188px;
$font-large-mobile: 96px;
$font-medium-desktop: 30px;
$font-medium-mobile: 18px;
$gap-large: 50px;
$margin-top-large: 40px;
$margin-mobile: 30px;

%text-primary {
  color: $primary;
}

.error {
  @include flex-column-center($gap-large);
  margin-top: $margin-top-large;
  @extend %font;

  span {
    font-weight: 700;
    font-size: $font-large-desktop;
    @extend %text-primary;

    @include responsive($breakpoint-mobile) {
      font-size: $font-large-mobile;
      margin: $margin-mobile;
    }
  }
}

.oups-error {
  @extend %text-primary;
  font-weight: 500;
  font-size: $font-medium-desktop;
  text-align: center;

  @include responsive($breakpoint-mobile) {
    font-size: $font-medium-mobile;
  }
}

.accueil-error {
  padding-bottom: 60px;
  color: black;
}
