@import "mixins.scss";
@import "Variables.scss";

.error {
  @include flex(column, flex-start, center, ($gap-large));
  margin-top: $margin-top-large;
  @extend %font;

  span {
    font-weight: 700;
    font-size: $font-large-desktop;
    @extend %text-primary;

    @include responsive($breakpoint-mobile) {
      font-size: $font-large-mobile;
      margin: $margin-mobile;
    }
  }
}

.oups-error {
  @extend %text-primary;
  @extend %weight;
  font-size: $font-medium-desktop;
  text-align: center;

  @include responsive($breakpoint-mobile) {
    font-size: $font-medium-mobile;
  }
}

.accueil-error {
  padding-bottom: 60px;
  color: black;
}
