%color {
  color: #ff6060;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: "Montserrat";
  gap: 50px;

  span {
    font-weight: 700;
    font-size: 188px;
    @extend %color;
  }
}

.oups-error {
  @extend %color;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.accueil-error {
  padding-bottom: 60px;
  color: black;
}
