%underline {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px;

  img {
    width: 210px;
    height: 68px;
  }
}

.lien-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 57px;
  list-style: none;
  font-family: "Montserrat";

  a {
    color: black;
    text-decoration: none;

    &:hover {
      @extend %underline;
    }

    &.active {
      @extend %underline;
    }
  }
}
