@import "mixins.scss";

.dropdown {
  width: 75%;
  max-width: 1023px;
  margin: 20px auto;
  @extend %font;

  .dropdown-header {
    background-color: #ff6060;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    @include flex-between-center;

    h2 {
      font-size: 18px;
      margin: 0;
    }

    span {
      font-size: 18px;
      transition: transform 0.3s ease;
    }

    .chevron-icon {
      font-size: larger;
      transition: transform 0.3s ease;
    }

    .rotated {
      transform: rotate(-180deg);
    }
  }

  @include responsive(768px) {
    margin: 15px 15px;
    width: auto;
  }

  .dropdown-content {
    background-color: #f7f7f7;
    color: #000;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.open {
      max-height: 500px;
      opacity: 1;
    }

    &.close {
      max-height: 0;
      opacity: 0;
    }
  }

  @include dropdown-animation(slideDown, 0, 1, 0, 1);
  @include dropdown-animation(slideUp, 1, 0, 1, 0);
}
