$primary: #ff6060;
$background-light: #f7f7f7;

$width100: 100%;

$font-xl: 24px;
$arrow-size: 70px;
$arrow-size-mobile: 30px;

$radius10: 10px;

$carousel-height-desktop: 415px;
$carousel-height-mobile: 255px;

$font-large-desktop: 188px;
$font-large-mobile: 96px;
$font-medium-desktop: 30px;
$font-medium-mobile: 18px;

$font-size-18: 18px;
$gap-large: 50px;

$margin-top-large: 40px;
$margin-mobile: 30px;
$margin-responsive: 30px 15px;

$breakpoint-mobile: 768px;

%text-primary {
  color: $primary;
}

%underline {
  text-decoration: underline;
}

%font {
  font-family: "Montserrat";
}

%weight {
  font-weight: 500;
}

%height-opacity {
  max-height: 0;
  opacity: 0;
}
